<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042312715170-hjmqtk2svtq1enqkrb8o502tk7sfpri3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042312715170-hjmqtk2svtq1enqkrb8o502tk7sfpri3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1042312715170-2uisbcdd60eo39gttm1qgkh6bvhp47sb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDJpGtFOEZFmcg7lny2h4Quag38Wr9LSo</string>
	<key>GCM_SENDER_ID</key>
	<string>1042312715170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.kthub.theENESTenglishgrammartest</string>
	<key>PROJECT_ID</key>
	<string>theenestweb</string>
	<key>STORAGE_BUCKET</key>
	<string>theenestweb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042312715170:ios:59c4ecd43e046702f830fb</string>
	<key>DATABASE_URL</key>
	<string>https://theenestweb.firebaseio.com</string>
</dict>
</plist>